// Style sheet   for STFN BLG based on tufte.css

// Start off with Tufte fonts

@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Light.woff2") format("woff2"),url("/fonts/OverpassMono-Light.woff") format("woff");
             font-weight:normal;
             font-style:normal }
             
@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Bold.woff2") format("woff2"),url("/fonts/OverpassMono-Bold.woff") format("woff");
             font-weight:bold;
             font-style:normal }

html { font-size: 100%;
       font-family: sans-serif;
}

body { background-color: #f9feff;
    padding: 10px 0px 0px 35px;
}

h1, h2, h3, h4 { font-weight: 400;
}

a  {
    text-decoration: none;
}
.article-title { font-size: 2em;
}


p { font-size: 14;
}


.content {
     max-width: 650px;
     //padding: 35px 0px 0px 35px;
 }

ul.compact {
    margin: 1em auto 1em;
    padding: 0;
    text-align: justify;
    font-size: 2em;
    width: 80%;
}

ul.compact li {
    line-height: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.5em;
    display: inline;   
 }

pre code {
    line-height: 1.5em;
    font-size: .7em;
    background-color: #161705;
    z-index: 1;
    padding: 1rem;
    position: relative;
    display: block;
}

code { font-family: "Overpass Mono", monospace;
    background-color: #161705;
    color: #ffffff;
    font-size: .79em;
    padding: 2px;
    //margin: 8px;
}
