/* Load monospace fonts */
@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Light.woff2") format("woff2"),url("/fonts/OverpassMono-Light.woff") format("woff");
             font-weight:normal;
             font-style:normal }

@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Bold.woff2") format("woff2"),url("/fonts/OverpassMono-Bold.woff") format("woff");
             font-weight:bold;
             font-style:normal }


/* color sections for dev */
/*
body { background-color: #f9feff; }
#top-nav { background-color: orange; }
#titlespace { background-color: green; }
#front-main { background-color: blue; }
#notes-main { background-color: black; }
.content { background-color: yellow; }
.stop-float { background-color: brown; }
#frontarticles { background-color: grey; }
#frontnotes { background-color: violet; }
#notesnav { background-color: pink; }
footer { background-color: red; }
/*

/* Styling */
html {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    margin-left: 2em;
    margin-top: 1em;
    font-size: 0.8em;
    max-width: 90%;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

#top-nav {
    font-family: "Overpass Mono", monospace;
    font-size: 1.2rem;
}

#topnav a {
    padding: 0em 0.5em 0em 0em;
}

#home {
    display: inline;
    text-align: left;
}

#nav-content {
    display: block;
    float: right;
}

#nav-content a {
   text-align: right;
}

#titlespace {
    // height: 1px;
    font-size: 1.8em;
}

#titlespace h2 {
    display: block;
     margin: 5px 0px 5px 0px;
    padding-top: 12px;
    padding-left: 150px;
}

a {
    text-decoration: none;
}

.borders {
    border-top: 1px solid grey;
}

#top-left-border, #bottom-left-border {
    width: 139px;
    float: left;
}

#top-right-border, #bottom-right-border {
    margin-left: 141px;
}

.article {
    margin: 0px;
    padding: 0px;
}

.content {
    display: block;
    border-left: 1px solid grey ;
    padding-top: 0rem;
    margin-left: 140px;
    padding-left: 10px;
 }

#frontarticles {
    width: 60%;
    float: left;
    border-right: 1px solid grey;
    padding-right: 10px;
}
 
.stop-float {
    background-color: brown;
    display: block;
    clear: left;
}

#frontnotes {
    float: left;
    display: block;
    padding-left: 10px;
}

#notebody {
    max-width: 500px;
}

#notesnav {
    float: left;
    width: 140px;
    font-size: 0.9em;
    font-weight: 100;
}

#notesnav ul {
    list-style-type: none;
    padding: 0px 10px;
    text-align: right;
}

p {
}

#article-title {
    font-family:  "Overpass Mono", monospace;
}

section.exercises p {
    line-height: 0.5em;
    font-size: 1.1em;
    padding: 0px 0px 0px 25px;
}


section > ul {
    width: 90%;
}

img {
    width: 100%;
}

footer {
    padding: 10px;
    clear: left;
}

/*Notes list*/
ul.compact {
    max-width: 520px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    width: 80%;
}

ul.compact li {
    line-height: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.4em;
    display: inline;
 }

/*Projects list*/
ul.compact-small {
    max-width: 520px;
    margin: 0em 0em 0em;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 90%;
}

ul.compact-small li {
    line-height: 1.4em;
    // list-style-type: square;
    padding: 0 0.4em;
    display: inline;
 }

blockquote {
    font-size: 0.9rem;
}

blockquote p {
    width: 80%;
    margin-right: 10px;
}

/* Code styling */
pre code {
    color: #00f300;
    line-height: 1.4em;
    font-size: 0.8em;
    background-color: #161705;
    padding: 1em;
    display: block;
    width: 66%;
}

div.highlight {
    width: 60em;
}

span.nf, span.n, span.nb, span.vi, span.nl, span.py {
    color: #f8f8f2;
}

code {
    font-family: "Overpass Mono", monospace;
    font-size: .9em;
}
