/* Load monospace fonts */
@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Light.woff2") format("woff2"),url("/fonts/OverpassMono-Light.woff") format("woff");
             font-weight:normal;
             font-style:normal }

@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Bold.woff2") format("woff2"),url("/fonts/OverpassMono-Bold.woff") format("woff");
             font-weight:bold;
             font-style:normal }


/* color sections for dev */
/*
body { background-color: #f9feff; }
#top-nav { background-color: orange; }
#titlespace { background-color: green; }
#front-main { background-color: blue; }
#notes-main { background-color: black; }
.content { background-color: yellow; }
.stop-float { background-color: brown; }
#frontarticles { background-color: grey; }
#frontnotes { background-color: violet; }
#notesnav { background-color: pink; }
footer { background-color: red; }
*/

/* Styling */
html {
    font-family: sans-serif;
    font-size: 12pt;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin-left: 2em;
    font-size: 0.8em;
    max-width: 90%;
    min-width: 600px;

    position: relative;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

#top-nav {
    font-family: "Overpass Mono", monospace;
    font-size: 1.2rem;
}

#topnav a {
    padding: 0em 0.5em 0em 0em;
}

#home {
    text-align: left;
    float: left; 
}

#nav-content {
    text-align: right;
}

#nav-content a {
    // text-align: right;
}

#titlespace {
    // height: 1px;
    font-size: 1.8em;
}

#titlespace h2 {
    display: block;
    margin: 5px 0px 5px 0px;
    padding-top: 12px;
    padding-left: 150px;
}

a {
    text-decoration: none;
}

.borders {
    border-top: 1px solid grey;
}

#top-left-border, #bottom-left-border {
    width: 139px;
    float: left;
}

#top-right-border, #bottom-right-border {
    margin-left: 141px;
}

#front-main, #notes-main {
    padding-bottom: 15px;
}

.article {
    margin: 0px;
    padding: 0px;
}

.content {
    display: block;
    border-left: 1px solid grey ;
    padding-top: 0rem;
    margin-left: 140px;
    padding-left: 10px;
    max-width: 500px;
    padding-bottom: 8em;
 }

.content h2 {
    padding: 1em 0px 0px 0px;
    margin: 0;
}

.content h3 {
    padding-top: 1em;
    margin: 0;
}

p:first-child {
    padding-top: 2em;
}

.content ul li p:last-child {
    padding-bottom: 0em;
}

.content p:last-child {
    margin-bottom: 0;
}

.exercises p:last-child {
    margin-bottom: 0;
    padding-bottom: 1em;
}

#notebody p:first-child {
    margin-top: 0px;
    padding-top: 1em;
}

/*
.content p {
    color: green;
}

.content p:first-child {
    margin-top: 0;
   // color: red;
}

.content p:last-child {
    margin-bottom: 0;
    padding-bottom: 4em;
    color: green;
}
*/


#frontarticles {
    width: 60%;
    float: left;
    border-right: 1px solid grey;
    padding-right: 10px;
}

#frontarticles h2, #frontnotes h2 {
    padding-top: 1em;
}
 
.stop-float {
    background-color: brown;
    display: block;
    clear: left;
}

#frontnotes {
    float: left;
    display: block;
    padding-left: 10px;
}

#notebody {
    max-width: 500px;
}

#notesnav {
    float: left;
    width: 140px;
    font-size: 0.9em;
    font-weight: 100;
}

#notesnav ul {
    list-style-type: none;
    padding: 0px 10px;
    text-align: right;
}

p {
    line-height: 1.5em;
}

#article-title {
    font-family:  "Overpass Mono", monospace;
}

section.exercises p {
    line-height: 0.5em;
}


section > ul {
    width: 90%;
}

img {
    width: 100%;
}

#footer {
    position: absolute;
    width: 100%;
    height: 15px;
    right: 0;
    bottom: 0;
    left: 0;
}

/*Notes list*/
ul.compact {
    max-width: 520px;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

ul.compact li {
    line-height: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.4em;
    display: inline;
 }

/*Projects list*/
ul.compact-small {
    max-width: 520px;
    margin: 0em 0em 0em;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 90%;
}

ul.compact-small li {
    line-height: 1.4em;
    padding: 0 0.4em;
    display: inline;
 }

blockquote {
    font-size: 0.9rem;
}

blockquote p {
    width: 80%;
    margin-right: 10px;
}

/* Code styling */
pre code {
    color: #00f300;
    line-height: 1.4em;
    font-size: 0.8em;
    background-color: #161705;
    padding: 1em;
    display: block;
}

div.highlight, pre code {
    min-width: 600px;
}

span.nf, span.n, span.nb, span.vi, span.nl, span.py {
    color: #f8f8f2;
}

code {
    font-family: "Overpass Mono", monospace;
    font-size: .9em;
}
