/* Load monospace fonts */
@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Light.woff2") format("woff2"),url("/fonts/OverpassMono-Light.woff") format("woff");
             font-weight:normal;
             font-style:normal }

@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Bold.woff2") format("woff2"),url("/fonts/OverpassMono-Bold.woff") format("woff");
             font-weight:bold;
             font-style:normal }

/* Styling */
html {
    font-family: sans-serif;
}

body {
    background-color: #f9feff;
    padding: 10px 0px 0px 25px;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

nav a {
    padding: 0em 0.5em 0em 0em;
}


a { 
    text-decoration: none;
}

.article-title {
    font-size: 2.5em;
    font-family:  "Overpass Mono", monospace;
}

p {
    font-size: 100%;
}

section > p, section > footer, section > table {
    width: 100%;
}

.content { 
     padding-top: 0rem;
 }

p {
    max-width: 520px;
}

section.exercises p {
    line-height: 0.5em;
    font-size: 1.1em;
    padding: 0px 0px 0px 25px;
}

section > ul {
    width: 90%;
}

img {
    width: 100%;
}

/*Notes list*/
ul.compact {
    max-width: 520px;
    padding: 0;
    text-align: center;
    font-size: 2em;
    width: 80%;
}

ul.compact li {
    line-height: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.4em;
    display: inline;
 }

/*Projects list*/
ul.compact-small {
    max-width: 520px;
    margin: 0em 0em 0em;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 90%;
}

ul.compact-small li {
    line-height: 1.4em;
    list-style-type: none;
    padding: 0 0.4em;
    display: inline;
 }

blockquote {
    font-size: 0.9rem;
}

blockquote p {
    width: 80%;
    margin-right: 10px;
}


/* Code styling */
pre code {
    color: #00f300;
    max-width: 650px;
    line-height: 1.5em;
    font-size: .8em;
    background-color: #161705;
    z-index: 1;
    padding: 1rem;
    position: relative;
    display: block;
}


span.nf, span.n, span.nb {
    color: #f8f8f2;
}

code {
    max-width: 650px;
    font-family: "Overpass Mono", monospace;
    //background-color: #161705;
    //color: #ffffff;
    font-size: .9em;
    padding: 2px;
    //margin: 8px;
}
