/* Load monospace fonts */
@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Light.woff2") format("woff2"),url("/fonts/OverpassMono-Light.woff") format("woff");
             font-weight:normal;
             font-style:normal }

@font-face { font-family:'Overpass Mono';
             src: url("/fonts/OverpassMono-Bold.woff2") format("woff2"),url("/fonts/OverpassMono-Bold.woff") format("woff");
             font-weight:bold;
             font-style:normal }

/* Styling */
html {
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: #f9feff;
    //padding: 10px 0px 0px 25px;
    margin-left: 5em;
    margin-top: 3em;
    width: 85%;
    font-size: 0.8em;
}

h1, h2, h3, h4 {
    font-weight: 200;
}

nav a {
    padding: 0em 0.5em 0em 0em;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

#main {
    width: 66%;
}

#frontarticles, #frontnotes {
    border: 1px solid black;
}

#frontarticles {
    background-color: grey;
}

#frontnotes {
    background-color: violet;
}

#notesnav {
    background-color: pink;
}

p {
    margin: 1px 5px;
}

.article-title {
    font-size: 2.5em;
    font-family:  "Overpass Mono", monospace;
    margin-left: 5%;
}

section > p, section > footer, section > table {
    // width: 45em;
 }

.content {
     padding-top: 0rem;
     margin-left: 5%;
 }

p  {
    // max-width: 66%;
}

section.exercises p {
    line-height: 0.5em;
    font-size: 1.1em;
    padding: 0px 0px 0px 25px;
}

section > ul {
    width: 90%;
}

img {
    width: 100%;
}

/*Notes list*/
ul.compact {
    max-width: 520px;
    padding: 0;
    text-align: center;
    font-size: 2em;
    width: 80%;
}

ul.compact li {
    line-height: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0 0.4em;
    display: inline;
 }

/*Projects list*/
ul.compact-small {
    max-width: 520px;
    margin: 0em 0em 0em;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 90%;
}

ul.compact-small li {
    line-height: 1.4em;
    list-style-type: none;
    padding: 0 0.4em;
    display: inline;
 }

blockquote {
    font-size: 0.9rem;
}

blockquote p {
    width: 80%;
    margin-right: 10px;
}

/* Code styling */
pre code {
    color: #00f300;
    line-height: 1.4em;
    font-size: 0.8em;
    background-color: #161705;
    padding: 1em;
    display: block;
    width: 55em;
}

div.highlight {
    width: 60em;
}

span.nf, span.n, span.nb, span.vi, span.nl, span.py {
    color: #f8f8f2;
}

code {
    font-family: "Overpass Mono", monospace;
    font-size: .9em;
}
