<footer class="footer" id="footer">
    <div id="bottom-left-border" class="borders">
    </div>

    <div id="bottom-right-border" class="borders">
    </div>

    <div id="footer-colophon" role="contentinfo" aria-label="copyright 2017-2018" class="footer">All images, words, code © their original authors.</div>
</footer>
