---
page_title: About Me
pageable: false
per_page: 10
---

<div id="article-title">
    <h2 style="font-family: &quot;overpass mono&quot;;font-size: 2em;">$ whoami</h2>
</div>

<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "Welcome" %>
        <%= article.body %>
    <% end %>
<% end %>
