---
page_title: Stefan's Notes
pageable: false
per_page: 10
---
<% ap current_article %>


<h2>On Notes and The Jargon File</h2>

<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "The Jargon File" %>
        <p> <%= article.body %> </p>
    <% end %>
<% end %>

<ul class="compact">
<% blog('notes').articles.each do |article| %>
    <li> <%= link_to article.title, article %> </li>
<% end %>
</ul>
