---
page_title: notesnotes
pageable: false
per_page: 10
---

<h2>can i render my note links?</h2>

<% Nokogiri::HTML(open('/notes/ruby.html.markdoan'))



<ul class="compact">
<% blog('notes').articles.each do |article| %>
    <li> <%= link_to article.title, article %> </li>
<% end %>
</ul>