---
page_title: Stefan's projects
pageable: false
per_page: 10
---


<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "Projects" %>
        <p> <%= article.body %> </p>
        <% break %>
    <% end %>
<% end %>
