---
page_title: Stefan's projects
pageable: false
per_page: 10
---

<% require 'open-uri' %>


<% blog('scribbles').articles.each do |article| %>
    <% if article.title == "Projects" %>
        <p> <%= article.body %> </p>
        <% break %>
    <% end %>
<% end %>

<ul class='compact-small'>
<% hdoc = Nokogiri::HTML(open('https://github.com/Stefanough/CodeEval')) %>
<% links = hdoc.css('td.content a').map { |link| %>
    <% {:name=> link.content, :uri=> 'https://github.com' + link['href']} } %>

    <% links.each do |link| %>
        <% unless link[:name].include? '.' %>
            <li><a href=<%= link[:uri] %>><%= link[:name].gsub('_', ' ') %></a></li>
        <% end %>
    <% end %>
</ul>
